.corps {
    margin: 0;  
    padding: 0;
    background-color: linear-gradient(180deg, rgba(49,62,116,1) 0%, rgba(23,30,59,1) 100%);
    color: #fff;
    height: 100vh; 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", serif;

  }
body{
  background-image: url("../icons/Group.svg");
  background-size: 40%;
  background-position: 85%;
  background-repeat: no-repeat;
  font-family: "Roboto", serif;
  font-size: 1.25rem;
 
 
}
    h1 {
      color: #f57c00;
      text-align: center;
      padding-bottom: 20px;
    }

    #quiz-container {
      display: flex;
      flex-direction: column; /* Aligne les éléments verticalement */
      align-items: center; /* Centre les éléments horizontalement */
      justify-content: center; /* Centre verticalement */
      width: 90%; /* Limite la largeur pour une meilleure lisibilité */
      max-width: 800px; /* Définit une largeur maximale */
      background-color: #242446;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    }


    #submit-answer,
    #restart-button,
    #validate-password {
      /* ... autres styles ... */
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: 18px;
    }

    #afficherIndice {
      display: none;
      background-color: #545250e3;
      color: white;
      padding: 10px 20px;
      border: none;
      cursor: pointer;
      font-size: 14px;
      border-radius: 5px;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
      position: absolute;
      top: 80%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .question {
      margin-bottom: 20px;
      color: #f57c00;
    }

    .result {
      font-weight: bold;
    }

    .option {
      background-color: #242446;
      border: 1px solid #f57c00;
      padding: 10px;
      cursor: pointer;
      list-style: none;
    }

    .option:hover {
      background-color: #363658;
    }

    .correct-answers {
      margin-top: 20px;
      font-style: italic;
      color: #f57c00;
      text-align: center;
    }

    .error {
      color: #f57c00;
      font-size: 0.9em;
    }

    #indice {
      display: none;
      text-align: center;
    }

    #submit-answer,
    #restart-button,
    #afficherIndice {
      background-color: #f57c00;
      color: #fff;
      padding:  5px 5px;
      padding-top: 10px;
      border: none;
      cursor: pointer;
      border-radius: 2px;
    }
    
    li.option:hover{
      background-color: #ec6834;
    }
    #password-input.password-input{
      padding: 15px;
      border: 2px solid #ec6834;
      border-radius: 5px;
      background-color: black;
      color: white;
      margin-top: 20px;
      font-size: 1rem;
    }
    #validate-password{
      margin-top: 20px;
    }
    #validate-password:hover{
      background-color: #ec6834;
      color: white
    }
    i {
      position: absolute;
      width: 4px;
      height: 4px;
      background:  #ec6834;
      pointer-events: none;
      animation: animate 2s linear forwards;
    }
    @keyframes animate {
      0% {
          opacity: 1;
          transform: translate(0, 0);
      }
    
      100% {
          opacity: 0;
          transform: translate(var(--x), var(--y));
      }
    }
    #instructions{
      margin-bottom: 20px;
    }
    